.scroll {
    max-height: 500px;
    overflow-y: auto;
}

.jumbotron {
    background-image: url(img/jumbotron.jpg);
    background-size: cover;
    height: 100%;
    color: #FFF;
}

#name, #nameOne, #nameTwo {  
    font-family: "Lobster", serif;
    font-weight: 40;  
    line-height: 44px; 
    margin: 0 0 5px; 
    text-align: center;
    color: #2c2c2c;
    letter-spacing: .05em;
}

#head {  
    font-family: "Lobster", serif;
    font-size: 36px; 
    font-weight: 400;  
    line-height: 44px; 
    margin: 0 0 12px; 
    text-align: center;
    color: #FFF;
    letter-spacing: .05em;
}