<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Food and Beverage Comparison</title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Local stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mystyle.css') }}">
</head>

<body>

    <div class="container">

        <div class="row">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{{ url_for('home') }}">Home </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('comparison') }}">Comparison <span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                API Links:
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ url_for('home') }}">Home</a>
                                <a class="dropdown-item" href="{{ url_for('comparison') }}">Comparison</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-header">API Links:</a>
                                <a class="dropdown-item" href="{{ url_for('nutrientvalue') }}" target="_blank">Food Name Description</a>
                                <a class="dropdown-item" href="{{ url_for('portionsandweights') }}"
                                    target="_blank">Portions
                                    and Weights</a>
                                <a class="dropdown-item" href="{{ url_for('descriptioncategory') }}"
                                    target="_blank">Description
                                    Category</a>
                                <a class="dropdown-item" href="{{ url_for('category') }}" target="_blank">Category</a>
                                <a class="dropdown-item" href="{{ url_for('dailyvalue') }}" target="_blank">% Daily
                                    Value</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

        </div>

        <div class="row">
            <div class="col-md-12 jumbotron text-center">
                <h1 id="head">Food and Beverage Comparison</h1>
                <hr>
                <p>Use the interactive charts below to explore the dataset</p>
            </div>
        </div>

        <div class="row">

            <div class="col-md-3">

                <div class="card card-body bg-light">
                    <h5>1.1 Select food:</h5>
                    <select id="selCompareOne" onchange="optionCompareChangedOne(this.value)"></select>
                </div>

            </div>

            <div class="col-md-3">

                <div class="card card-body bg-light">
                    <h5>1.2 Select quantity:</h5>
                    <select id="selCompareTwo"
                        onchange="optionCompareWeightChangedOne(this.value.split(',')[0],this.value.split(',')[1])"></select>
                </div>

            </div>

            <div class="col-md-3">

                <div class="card card-body bg-light">
                    <h5>2.1 Select food:</h5>
                    <select id="selCompareThree" onchange="optionCompareChangedTwo(this.value)"></select>
                </div>

            </div>

            <div class="col-md-3">

                <div class="card card-body bg-light">
                    <h5>2.2 Select quantity:</h5>
                    <select id="selCompareFour"
                        onchange="optionCompareWeightChangedTwo(this.value.split(',')[0],this.value.split(',')[1])"></select>
                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-md-6">

                <div class="card border-primary mb-3">
                    <div id="nameOne" class="card-body">
                    </div>
                </div>

            </div>

            <div class="col-md-6">

                <div class="card border-success mb-3">
                    <div id="nameTwo" class="card-body">
                    </div>
                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-md-6">

                <div class="card text-center scroll">

                    <div class="card-header">Nutrition Info</div>
                    <div id="nutrient-panel-one" class="list-group list-group-flush"></div>

                </div>

            </div>

            <div class="col-md-6">

                <div class="card text-center scroll">

                    <div class="card-header">Nutrition Info</div>
                    <div id="nutrient-panel-two" class="list-group list-group-flush"></div>

                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-md-6">
                <!-- Radar chart Plot -->
                <canvas id="macro-radar" width="200" height="200"></canvas>

            </div>

            <div class="col-md-6">
                <!-- Radar chart Plot -->
                <canvas id="micro-radar" width="200" height="200"></canvas>

            </div>

        </div>

        <div class="row">

            <div class="col-md-6">
                <!-- Gauge 1 -->
                <div id="gauge-one" width="200" height="200"></div>

            </div>

            <div class="col-md-6">
                <!-- Gauge 1  -->
                <div id="gauge-two" width="200" height="200"></div>

            </div>

        </div>

        <div class="row">

            <div class="col-md-12">
                <!-- Radar chart Plot -->
                <canvas id="macro-bar-chart-grouped" width="800" height="450"></canvas>

            </div>


        </div>

        <div class="row">

            <div class="col-md-12">
                <!-- Radar chart Plot -->
                <canvas id="micro-bar-chart-grouped" width="800" height="450"></canvas>

            </div>


        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='appTwo.js') }}"></script>
    <!-- Chart.js Resource Reference -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>

</html>