<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Food and Beverage Comparison</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Local stylesheet -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mystyle.css') }}">
</head>

<body>

  <div class="container">

    <div class="row">

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('comparison') }}">Comparison</a></li>
          <!-- <li><a href="#">Contact</a></li> -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">API links <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('home') }}">Home</a></li>
              <li><a href="{{ url_for('comparison') }}">Comparison</a></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">API Links:</li>
              <li><a href="{{ url_for('nutrientvalue') }}" target="_blank">Nutrient Value</a></li>
              <li><a href="{{ url_for('portionsandweights') }}" target="_blank">Portions and Weights</a></li>
              <li><a href="{{ url_for('descriptioncategory') }}" target="_blank">Description Category</a></li>
              <li><a href="{{ url_for('category') }}" target="_blank">Category</a></li>
              <li><a href="{{ url_for('dailyvalue') }}" target="_blank">% Daily Value</a></li>
            </ul>
          </li>
        </ul>

      </div>

    </div>

    <div class="row">

      <div class="col-md-12 jumbotron text-center">
        <h1>Food and Beverage Dashboard</h1>
        <p>Use the interactive charts below to explore the dataset</p>
      </div>

    </div>

    <div class="row">

      <div class="col-md-8">

        <div class="well">
          <h5>Select food:</h5>
          <select id="selDataset" onchange="optionFoodChanged(this.value)"></select>
        </div>

      </div>

    </div>

    <div class="row">

      <div class="col-md-5">

        <div class="well">
          <h5>Select quantity:</h5>
          <select id="selDatasetone" onchange="optionWeightChanged(this.id + this.value)"></select>
        </div>

      </div>

    </div>

    <div class="col-md-6">

        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Nutrition Info</h3>
          </div>
          <!-- Panel of nutrition facts -->
          <div id="nutrient-panel" class="panel-body"></div>
        </div>
        
      </div>

    <div class="row">

      <div class="col-md-4">
        <!-- Bar Graph Macro Nutrients -->
        <div id="bar-macro"></div>
        <!-- Bar Graph Micro Nutrients -->
        <div id="bar-micro"></div>
      </div>

      <div class="col-md-4">
        <!-- Gauge for Daily Value-->
        <div id="gauge"></div>
      </div>

    </div>

    <div class="row">

      <div class="col-md-5">

        <div class="well">
          <h5>Select Grouped food category:</h5>
          <select id="selDatasettwo" onchange="optionScatterChanged(this.value)"></select>
        </div>

      </div>

      <div class="col-md-7">
        <!-- Empty column -->
      </div>

    </div>

    <div class="row">

      <div class="col-md-12">
        <!-- Scatter Plot -->
        <div id="scatter"></div>
      </div>

    </div>

  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='appOne.js') }}"></script>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

</body>

</html>